.sidebar
  .sidebar__user
    .sidebar__user__block
      .sidebar__user__block__name
        = current_user.name
      .sidebar__user__block__icon
        .sidebar__user__block__icon__newgroup
          = link_to "#" do
            = icon('fas', 'edit')
        .sidebar__user__block__icon__set
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog')
  .sidebar__groupname
    .sidebar__groupname__box
      .sidebar__groupname__box__groups
        techcamp
      .sidebar__groupname__box__message
        まだメッセージがありません